<div class="container">
  <h1 class="page-header">Painel</h1>
  <p class="page-info">Esta página é apenas para demonstração. Altere os valores e depois salve, todos os usuários conectados terão seus gráficos atualizados em <mark>tempo real</mark>.</p>
  <tabs data="vm.tabs" type="tabs"></tabs>
</div>
