<div class="container charts">
  <h1 class="page-header">Gráficos</h1>
  <p class="page-info">Você também pode acessar através do celular ou tablet, o conteúdo das páginas se ajustará automaticamente à tela do seu dispositivo sem perda na usabilidade.</p>
  <div ui-view="proposal"></div>
  <div ui-view="status"></div>
</div>
