<form>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="creditTable">Propostas mesa crédito</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-credit-card" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="creditTable" ng-model="vm.data[0]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="approved">Propostas aprovadas</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="approved"  ng-model="vm.data[1]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="control">Propostas controle</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="control" ng-model="vm.data[2]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="competence">Alçada</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-industry" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="competence" ng-model="vm.data[3]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="denied">Propostas negadas</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="denied" ng-model="vm.data[4]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Salvar</button>
</form>
