<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="vm.collapse()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.dashboard.message">Idefix Dashboard</a>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="vm.isCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="app.dashboard.message" ng-click="vm.collapse(true)"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Mensagens <span class="badge" ng-if="vm.countMessages()">{{vm.countMessages()}}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.dashboard.chart" ng-click="vm.collapse(true)"><i class="fa fa-fw fa-pie-chart" aria-hidden="true"></i> Gráficos</a></li>
        <li ng-class="{'active': vm.isPanelActive()}"><a ui-sref="app.dashboard.panel.proposal" ng-click="vm.collapse(true)"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i> Painel</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>Maria Joana <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="vm.collapse(true)"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configurações</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="vm.collapse(true)"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
