<div class="modal-header">
  <h3 class="modal-title">Nova mensagem</h3>
</div>
<div class="modal-body">
  <form name="sendMessageForm">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Título" ng-model="message.title" required>
      <p class="help-block">Este campo é obrigatório.</p>
    </div>
    <div class="form-group">
      <label for="message">Mensagem</label>
      <textarea name="message" id="message" class="form-control" rows="3" placeholder="Mensagem" ng-model="message.text" required></textarea>
      <p class="help-block">Este campo é obrigatório.</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="sendMessageForm.$invalid" ng-click="vm.sendMessage(message)"><i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i> Enviar</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancelar</button>
</div>
