<form>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="month">Mês</label>
        <select class="form-control" id="month" ng-options="vm.indexOf(vm.labels, label) as label for label in vm.labels" ng-model="vm.monthSelected"></select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="approved">Propostas aprovadas</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="approved" ng-model="vm.data[0][vm.monthSelected]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="denied">Propostas negadas</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="denied" ng-model="vm.data[1][vm.monthSelected]" min="0" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Salvar</button>
</form>
