.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.media-heading {
  display: flex;
}

.media-heading > .title {
  flex: 1;
}

.media-heading > .action {
  margin-left: 10px;
}

.page-info {
  margin-bottom: 20px;
}
