body {
  padding-top: 50px;
  padding-bottom: 20px;
}

[ng-click],
[ng-dblclick] {
  cursor: pointer;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

.navbar-right {
  margin-right: 0;
}

.nav-tabs {
  margin-bottom: 15px;
}
