<h2 class="sub-header">Status das propostas</h2>
<div class="row">
  <div class="col-md-6">
    <table class="table disponibility-table">
      <tbody>
        <tr class="success">
          <td>Propostas aprovadas</td>
          <td class="text-warning"><i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i> <strong>{{vm.getSum(vm.data[0])}} ({{vm.getPercentage(vm.data[0])}}%)</strong></td>
        </tr>
        <tr class="danger">
          <td>Propostas negadas</td>
          <td class="text-muted"><i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i> <strong>{{vm.getSum(vm.data[1])}} ({{vm.getPercentage(vm.data[1])}}%)</strong></td>
        </tr>
        <tr class="active">
          <td>Total de propostas</td>
          <td class="text-muted"><i class="fa fa-fw fa-database" aria-hidden="true"></i> <strong>{{vm.getSum(vm.data)}}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <canvas class="chart chart-line"
      chart-legend="true"
      chart-data="vm.data"
      chart-colours="vm.colours"
      chart-labels="vm.labels"
      chart-series="vm.series">
    </canvas>
  </div>
</div>
