<h2 class="sub-header">Propostas</h2>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped disponibility-table">
      <tbody>
        <tr class="warning">
          <td>Propostas mesa crédito</td>
          <td class="text-warning"><i class="fa fa-fw fa-credit-card" aria-hidden="true"></i> <strong>{{vm.data[0]}} ({{vm.getPercentage(vm.data[0])}}%)</strong></td>
        </tr>
        <tr class="success">
          <td>Proposta aprovadas</td>
          <td class="text-success"><i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i> <strong>{{vm.data[1]}} ({{vm.getPercentage(vm.data[1])}}%)</strong></td>
        </tr>
        <tr class="info">
          <td>Propostas controle</td>
          <td class="text-primary"><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> <strong>{{vm.data[2]}} ({{vm.getPercentage(vm.data[2])}}%)</strong></td>
        </tr>
        <tr class="active">
          <td>Alçada</td>
          <td class="text-muted"><i class="fa fa-fw fa-industry" aria-hidden="true"></i> <strong>{{vm.data[3]}} ({{vm.getPercentage(vm.data[3])}}%)</strong></td>
        </tr>
        <tr class="danger">
          <td>Propostas negadas</td>
          <td class="text-danger"><i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i> <strong>{{vm.data[4]}} ({{vm.getPercentage(vm.data[4])}}%)</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <canvas class="chart chart-pie"
      chart-legend="true"
      chart-data="vm.data"
      chart-labels="vm.labels"
      chart-colours="vm.colours">
    </canvas>
  </div>
</div>
